/* Define CSS Variables */
:root {
    --primary-color: #EBE9E9;
    --secondary-color: #F3F8F2;
    --accent-color: #3581B8;
    --text-color: #FCB07E;
    --background-color: #DEE2D6;

}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FCB07E;
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3581B8;
    padding: 10px;
}

.logo img {
    width: 80px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    background: white;
    border-radius: 5px;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 20px;
    background-color: white;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

.hero img {
    width: 100px;
    height: auto;
}

/* HISTORY SECTION */
.history {
    text-align: center;
    padding: 20px;
    background-color: white;
}

.history-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

.history img {
    width: 120px;
    height: auto;
}

/* ADVENTURE SECTION */
.adventure {
    text-align: center;
    padding: 20px;
}

.adventure-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.adventure-gallery img {
    width: 120px;
    height: auto;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: #DEE2D6;
    padding: 10px;
}

.social-icons img {
    width: 30px;
    margin: 5px;
}